/* ESTILO GERAL */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body {
  background-color: black;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: #E74C3C ;
  color:black;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #ff341e;
  color: white;
  transform: scale(1.05);
  transition: .2s;
}

h2.titulo {
  color: white;
  font-size: 36px;
  text-align: center;
}

h2.titulo span {
  color: #E74C3C;
}

/* ESTILO CABEÇALHO */

header {
  padding: 40px 4%;
}

.flex {
  display: flex;
}

header .logo img {
  width: 90px;
  height: auto;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: rgb(114, 107, 107);
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover  {
  color: #fff;
  transform: scale(1.20);
}

header nav ul {
  list-style-type: none;
  margin-left: 0px;
  margin-right: 0px;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}





/* Estilo topo site*/

section.topo-do-site {
  padding: 40px 4%; 


}

.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px

}

.topo-do-site .txt-topo-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site p {
  color: white;
  font-size: 15px;
  margin: 40px 0;
}

.topo-do-site .txt-topo-site h1 span {
  color: #E74C3C;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100%{
    top:30px
  }
}

.topo-do-site  .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  width: 300px;
  height: auto;
}

/* Estilo conhecimentos*/

section.especialidades {
  padding: 40px 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.especialidades .especialidadesbox {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  transition: .2s;
  height: 310px; /* Definindo altura fixa para todos os elementos */
  flex: 1; /* Adicionado flex: 1 para distribuir espaço igualmente */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinhar no centro verticalmente */
  align-items: center; /* Alinhar no centro horizontalmente */
}




.especialidades .especialidadesbox:hover{
  transform: scale(1.07);
  box-shadow: 0 0 26px rgba(255, 255, 255, 0.411);

}


section.especialidades .flex{
  gap: 60px;
  
}
/* Estilo para o ícone dentro da especialidade */
.especialidades .especialidadesbox i {
  font-size: 70px;
  color: #E74C3C;
}
.especialidades .especialidadesbox h3 {
  font-size: 28px;
  margin: 0; /* Removendo a margem inferior */
  text-align: center; /* Alinhar o texto no centro */
}

/* ESTILO PORTFOLIO */

/* Adicione ao seu CSS */

/* Estilo para o ícone específico do projeto */
.project-links a .project-icon {
  font-size: 10px; /* Defina o tamanho desejado */
  margin-right: 5px; /* Adapte a margem conforme necessário */
}



section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff57;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;

}

.imgport {
  width: 290px;
  max-width: 360px;
  height: 400px;
  margin: 0 auto;
  background-color: #E74C3C;
  background-size: 100% ;
  background-position: 100% 0%;
  transition: 10s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.imgport:hover {
  background-position: 100% 100%;
}
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    opacity: 0;
    transition: 0.5s;
  }
  .overlay:hover{
    opacity: 1;
  }

  footer {
    padding: 100px 4%;
    box-shadow: 0 0 40px 10px #ffffff57;
  }
  footer .logo img {
    width: 50px;
    height: auto;
    
  }

  footer .flex {
    justify-content: space-between;
  }

  footer .linefooter {
    padding: 20px 0;
    

  }

  .borda {
    border-bottom: 2px solid #E74C3C
  }

  .btnsocial button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #E74C3C;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;

  }

  footer .linefooter p i{
    color: #E74C3C;
    font-size: 22px;
    margin-right: 5px;
  }

  footer .linefooter p a {
    color: white;
  }
  footer .linefooter p i.bi-phone-fill {
    margin-right: 5px;
  }

  .project-links a {
    position: relative;
    margin-right: 20px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .project-links a:hover {
    color: #E74C3C; /* Ou a cor desejada ao passar o mouse */
  }
  
  .project-links a::after {
    content: attr(title);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.3s;
  }
  
  .project-links a:hover::after {
    opacity: 1;
    visibility: visible;
  }
  

  

  @media screen and (max-width:1020px) {
    /* geral */
    .flex { 
      flex-direction: column;
    }
    h2.titulo {
      font-size: 34px;
      line-height: 30px;
    }
    /* cabeçalho */
    .menudesktop,.btn-contato {
      display: none;
    }
    /* TOPO SITE */
    section.topo-do-site {
      padding: 20px 8%;
    }

    .topo-do-site .txt-topo-site h1 {
      font-size: 30px;
    }

    /* Estilo conhecimentos*/

    section.especialidades {
      padding: 40px 8%;
}

.imgport {
  width: 290px;
  max-width: 360px;
  height: 400px;
  margin: 0 auto;
  
}

section.portfolio .flex {
gap: 60px;

}

footer .linefooter {
  text-align: center;
}


}


